[SddmGreeterTheme]
Name=Breeze for SolusDark
Description=Breeze theme for SolusDark
License=GPL-2.0
Type=sddm-theme
Version=0.1
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=breeze-SolusDark
Theme-API=2.0
